.skeleton::after {
  content: " ";
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  position: absolute;
  animation: skeleton-loading 2s infinite;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.918),
    transparent
  );
  filter: blur(20px);
}

@keyframes skeleton-loading {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
